<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-warning">
    <div class="container">
        <a class="navbar-brand">Example site</a>

        <ul class="navbar-nav mr-auto">
            <ng-container *ngIf="currentUser$ | async">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/members">matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/lists">Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/messages">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/test-errors">Errors</a>
                </li>
            </ng-container>
        </ul>

        <div class="dropdown" *ngIf="currentUser$ | async as user" dropdown>
            <img class="img" src="{{user.photoUrl}}" alt="{{user.username}}">
            <a class="dropdown-toggle text-light" dropdownToggle>
            Welcome {{user.username | titlecase}}
          </a>

            <ul class="dropdown-menu" *dropdownMenu>
                <li><a class="dropdown-item" routerLink="/member/edit">Edit profile</a></li>
                <li><a class="dropdown-item">Settings</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" routerLink="/" (click)="logout()">Logout</a></li>
            </ul>
        </div>


        <form *ngIf="!(currentUser$ | async)" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
            <input name="username" [(ngModel)]="model.username" class="form-control mr-sm-2" type="text" placeholder="Username">
            <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password" placeholder="Password">
            <button class="btn btn-info my-2 my-sm-0" type="submit">Login</button>
        </form>
    </div>
</nav>